[Unit]
Description=node-status Service
After=network.target

[Service]
Type=simple
Restart=always
ExecStart=/usr/local/sbin/node-status-server

[Install]
WantedBy=multi-user.target
